body {
    background-image: url(images/space.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
}
#time {
    text-align: center;
    color: white;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
.button {
    text-align: center;
    padding-bottom: 2rem;
}

