body {
    background: url(images/space.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
}
#time {
    text-align: center;
    color: white;
}

/* Styling for carousel */
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
.button {
    text-align: center;
    padding-bottom: 2rem;
}
.planetImage {
    border-radius: 1vw;
}

/* Styling for the table */
td {
    color: white;
}
#moonsOfPlanet {
    text-align: center;
    color: white;
}
#noMoons {
    text-align: center;
    margin-top: 2vw;
    color: white;
}
#randomImages {
    background-color: blue;
}
#wrapCarousel {
    text-align: center;
}

#leftdata {
    text-align: center;
    color: white;
    
}

#rightdata {
    text-align: center;
    color: white;
    
}

#carousel {
    text-align: center;
    color: white;
    
}

#wrapInput {
    padding-left: 30rem;
    padding-right: 30rem;
    
}

.button {
    padding-top: 1rem;
}

#carImage {
    background-image: url(images/solarsystem2.gif);
    width: 60%;
    height: 300px;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; 
    border-radius: 30%;
    margin: 0 auto;

}



